
.sidenav-container {
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-container-field {
      padding: 1rem 0;
    }

    .view-details-button {
      width: max-content;
      margin: 1rem 0;
    }
  }

}
